<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8" />
	<title>Back to Top</title>
	<link rel="stylesheet" type="text/css" href="sty.css" />
	<script src="jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="TweenMax.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="main.js"></script>

</head>
<body>

	<div class="course-content w-1000">
		<div class="lesson-list">
			<div class="learn-lesson-list cf">
				<span class="stage-icon"></span>
				<div class="stagewaring-box">
					<span class='arr-right'></span>
					<div class="text-content">
						<h3>life is not easy</h3>
						<p>you can not change anything</p>
					</div>
				</div>

				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>

				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="learn-lesson-list cf">
				<span class="stage-icon"></span>
				<div class="stagewaring-box">
					<span class='arr-right'></span>
					<div class="text-content">
						<h3>life is not easy</h3>
						<p>you can not change anything</p>
					</div>
				</div>

				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>

				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
				<div class="lesson-imgbox">
					<a href="#" title="">
						<div class="img-box">
							<img src="5.jpg">
						</div>
						<h3>you can not change anything</h3>
						<div class="imgboxfoot">
							<span class='time'>30min 10life</span>
						</div>

						<div class="img-pop">
							<blockquote>
								<p>HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!HTML5 is cool!</p>
							</blockquote>
							<div class="time-user-number">
								<span>2015-08-06</span><span>2000 people is learning</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>