*{
	margin:0;
	padding:0;

}

body{
	font-family: "open sans", sans-serif;
	font-size: 14px;
	line-height:1.4em;
	min-width:600px;
}

.admin-menu-wrap{
	position: relative;
	float: left;
	width:160px;
	background-color: #222;
}

.admin-menu{
	
	margin:12px 0;
	list-style:none;
	width:inherit;
}

.menu{
	min-height:34px;
	cursor: pointer;
}

.menu a{
	padding:10px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	text-indent: 40px;
}

a:hover{
	background-color:#000;
	color:cyan;
}